
.accordion__item[open] {
    border: 1px solid var(--grey-3)
}

.accordion__item {
    padding-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-3)
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 8px;
    padding-right: 70%;
    padding-left: 2%;
    width: 100%;
}

.accordion__text {
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 8px;
}
