.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.toggler {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.toggler__state {
    display: flex;
    align-self: center;
    gap: 12px;
}

.toggler__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toggler__icon {
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 16px;
    margin-left: 2px;
}

.toggler__input:checked ~ .toggler__state 
.toggler__control {
    background: var(--main-color);
    border-color: var(--main-color);
    justify-content: flex-end;
}

.toggler__input:checked ~ .toggler__state 
.toggler__control 
.toggler__icon {
    background: var(--white);
    margin-left: 0px;
    margin-right: 2px;
}

.toggler__header {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--grey-3);
}

.toggler__title {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--grey-4);
}

.toggler__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.toggler__input:focus ~ .toggler__state 
.toggler__title {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state 
.toggler__control {
    background-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state 
.toggler__control
.toggler__icon {
    background-color: var(--grey-3);
}


.toggler__input:disabled~ .toggler__state 
.toggler__title {
    color: var(--grey-2);
}

.toggler_disabled {
    cursor: not-allowed;
}  