.card-main {
    background: var(--whiteblue);
    display: flex;
    flex-direction: row;
    padding: 36px 165px;
}

@media screen and  (max-width: 500px) {
    .card-main {
        background: var(--white);
        padding: 32px 16px;
        display: block;
    }
}