
.header__text {
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.header {
    padding: 96px 0 77px;
}

.header__container {
    padding-left: 12%;
}