.skeleton {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
    padding-right: 40px;
    padding-top: 24px;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
}

.skeleton__header-lines {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}  

.skeleton__avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background: var(--grey-2);
}

.skeleton__line {
    background: var(--grey-2);
    height: 20px;
}

.skeleton__line_small {
    width: 40%;
}

.skeleton__line_normal {
    width: 59%;
}

.skeleton__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}